h1 {
    color: fuchsia;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: burlywood;
}

p {
    background-color: aquamarine; font-size: larger; color: brown;
}

a {
    font-weight: bold;
}